
/* header */
.container{
    background-color: rgb(103, 141, 141);
    border-radius: 2rem;
}
.container header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    
}

header h1 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    color: rgb(3, 3, 3);
}


/* input-section */

header .input-section {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 100%;
}

.input-section input {
    margin-right: 10px;
    max-width: 100%;
}
.max-w-xs {
    max-width: 20rem;
}
.w-full {
    width: 100%;
}

.input {
    border-radius: 0.8rem;
    height: 3rem;
    border-width: 1px;
    flex-shrink: 1;
   padding: 0rem 1rem;
    font-size: .975rem;
    line-height: 2;
    font-weight: bold;
   
}

/* todofilters */

.todos-filter, .filters {

    display: flex;
     justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 70%;
    margin-bottom: 10px;

}
.filters {
  margin-top: 10px;
}


.todos-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100%;
    max-height: 54vh;
    overflow-y: auto;
    width: 100%;
    margin-left: -4rem;
}

.todos-list .todo-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    width: 50%;
    border-bottom: 1px solid rgba( 255, 255, 255, 0.18 );
}

.todo-item{
      background-color: beige;
      border-radius: 10px;
      margin-bottom: 5px;
}

.todo-item p{
    margin-right: 10px;
}

.todo-item .todo-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 100%;
}

.todo-actions button:not(:last-child){
    margin-right: 10px;
}

.di, .ci{
    pointer-events:none;
}


.line{
    text-decoration: line-through;
}


/*buttons styling*/
.btn{
    cursor: pointer;
    user-select: none;
    border: none;
    outline: none;
    text-align: center;
    border-radius: 0.5rem;
    height: 3rem;
    min-height: 3rem;
    text-transform: uppercase;
    border-width:1px;
    animation: button-pop var(--animation-btn,.25s)ease-in-out;
    flex-wrap: wrap;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: .875rem;
    font-weight: 600;
    line-height: 1em;
    text-decoration-line: none;
    transition: .2s all cubic-bezier(.4,0,.2,1);
    display: inline-flex;
}

.btn:hover{
    background-color: rgb(108, 109, 110);
    color: white;
}


.btn-add{
    background-color: rgb(122, 118, 89);
    color: white
}
.btn-add:hover{
    background-color: white;
    color:rgb(255, 221, 0);
}

.btn-success{
    opacity: 1;
    background-color:rgb(69, 50, 177);
    color: white
}

.btn-success:hover{
    background-color: white;
    color:rgb(124, 116, 194);
}

.btn-error{
    opacity: 1;
    background-color:rgb(246, 77, 4);
    color: white
}
.btn-error:hover{
    background-color: white;
    color:rgb(246, 77, 4);
}

/* task */

.completed-task{
    position: absolute;
    top: 8rem;
    left: 4.5rem;
    font-weight: bold;
    font-size: 1.4rem;
}
.remaining-task{
    position: absolute;
 margin-left: 4rem;
top: 6rem;
font-weight: bold;
font-size: 1.4rem;
}
#delete-selected{
    margin-left: 21rem;
}

/* Responsive */
@media only screen and (max-width: 530px) {
    .container {
        margin: 0 20px;
        max-width: 96%;
        min-width: 96%;
    }
}
